* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
}

/* COLOR GUIDE */
:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --darker-color: #11735B;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  background-color: brown;
  top: 0;
  padding: 20px;
  z-index: 9999;
}

h1:hover {
  background-color: red;
}

header h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-style: 36px;
  color: white;
  border-radius: 15px;
  text-align: left;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  border-radius: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background-color: red;
}

.image{

    text-align: center;
}
.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  color: white;
}
.about-me p {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  color: white;
}

#my-work {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background-image: url("../images/hero.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  flex-direction: row;
}

#my-work h3 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  border: black solid 5px;
}

#my-work p {
    font-size: 22px;
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.code-refactor {

}

.code-refactor:hover {
  width: 50%;
  height: 50%;
}

/* transition: width 2s, height 4s;
    
  } */

/* .first:hover {
  width: 150%;
}
.first h3 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.second img {
  width: 60%;
}

.second {
  text-align: justify;
  margin-bottom: 15px;

  transition: width 2s, height 4s;
  border: 10px solid black;
  padding: 15px;
}

.second :hover {
  width: 150px;
  height: 150px;
}
.second h3 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.third img {
  width: 60%;

  margin-right: 10px;
}

.third {
  text-align: justify;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  transition: width 2s, height 4s;
  border: 10px solid black;
  padding: 15px;
}

.third h3 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
} */

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 25px;

  color: white;
}
.contact-information h2 {
  color: white;
  text-align: center;
  font-size: 25px;
}
