* {
  margin: 0;
  padding: 0;
}

/* COLOR GUIDE */
:root {
  --header-color: rgb(27, 13, 66);
  --main-content-bg: rgb(228 228 232);
  --section-headings: rgb(25, 4, 145);
  --section-text:rgb(26, 7, 134);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--tertiary-color);
}  

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: var(--header-color);
  top: 0;
  padding: 20px;
  z-index: 9999;
}

header h1 {
  color: yellow;
  font-weight: bold;
  font-style: 3vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: left;
}

header nav {
  margin: 7px 20px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

header nav ul li a:hover {
  background-color: gray;
}

/* Main Sections */
main section {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  color: var(--section-text);
  background-color: var(--main-content-bg);
}

.section-heading {
  width: 25%;
  text-align: right;
  border-right: 5px solid var(--header-color);
  padding-right: 20px;
  margin-right: 20px;
  color: var(--section-headings);
}

.section-data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: var(--section-text);
  justify-content: space-between;
}

/* About me section*/
#about-me {
  background-color: var(--main-content-bg);
}

#about-me .section-data{
  flex-wrap: wrap-reverse;
  align-items: center;
}

#about-me-text {
  text-align: justify;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  width: 60%;
}

#profileImage{
  max-width: 300px;
  min-width: 200px;
  height: auto;
  width: 30%;
  margin: 10px;
}

/* My work section */
#my-work {
  width: 100%;
  height: inherit;
  margin: 0px auto;
}

.project {
  width: 48%;
  max-height: 150px;
  border: 5px solid rgb(69, 178, 221);
  background-color: var(--main-content-bg);
  margin-top: 20px;
}

.project a img {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}

.project:hover {
  opacity: 0.8;
}

.mainProject {
  width: 100%;
  max-height: 300px;
  border: 5px solid rgb(69, 178, 221);
  font-size: 20px;
  margin-top: 0px;
}

.mainProject a img {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}

.mainProject:hover {
  opacity: 0.8;
}

.text-block {
  position: relative;
  background-color: brown;
  color: white;
  bottom: 25%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  width: fit-content;
  text-decoration: none;
  z-index: 1;
}

/* #contact-information {
  background-color: var(--header-color);
  color: white;
} */

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.contact-info div {
  padding: 20px;
}

/* .contact-info h2 {
  color: white;
  text-align: center;
} */

footer {
  text-align: center;
  background-color: var(--main-content-bg);
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 980px){
  header {
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  header nav ul li a {
    font-size: 20px;
    padding: 10px 15px;
  }

  main section {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .section-heading {
    padding: 20px;
    width: 100%;
    text-align: center;
    border-right: unset;
    border-bottom: 5px solid var(--header-color);
    margin-right: 0px;
  }
  .section-data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #about-me {
    display: flex;
    flex-wrap: wrap;
  }
  
  #about-me .section-data{
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  #about-me-text {
    width: 100%;
  }

  .project{
    width: 47%;
    text-align: right;
    margin-top: 20px;
  }

  .project a img {
    max-width: 300;
    z-index: 0;
  }

  .mainProject {
    width: 100%;
    max-height: 300px;
    border: 5px solid lightcoral;
    font-size: 20px;
  }

  .mainProject a img {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
  }

  .contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  }
}

@media screen and (max-width: 768px){

  .project{
    width: 100%;
    text-align: right;
  }

}